backups/
elpa/
auto-save-list/
ac-comphist.dat
history
.custom.el
bookmarks
places
projectile.cache
url/cookies
var/pcache/font-utils
.smex-items
.#.*
projectile-bookmarks.eld
permachine.el
diary
*~
org-roam.db
straight/
transient/
url/
var/
persist/
eshell/
eln-cache/
